@import "tailwindcss";

:root{
    --dark-bg: #2d2f34;
    --light-bg: #f8f8f8;
    --forest-g1: #259694;
}

body{
    background-color: var(--light-bg);
}

body.dark-mode {
  background-color: var(--dark-bg);
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
    display: none;
}
