@import "tailwindcss";

:root{
    --dark-bg: hsl(223, 7%, 19%);
    --light-bg: #c2c2c2;
    --forest-g1: #259694;
}

body{
    background-color: var(--light-bg);
}

body.dark-mode {
  background-color: var(--dark-bg);
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
    display: none;
}
